.navbar-items{
    background-color: rgb(246, 249, 252);
    border: 1px solid #ccc;
}

.logout-button {
    margin-left: 15px; 
}

@media (max-width: 768px) {
    .logout-button {
        margin: 10px 0; /* Adjust the margin for smaller screens */
        width: 100%; /* Make the button full-width on smaller screens */
    }
}