.navbar-items{
    background-color: rgb(246, 249, 252);
    border: 1px solid #ccc;
}

.logout-button {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    background-color: #2d3d6a;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .logout-button {
        margin: 10px 0 10px 0; /* Adjust the margin for smaller screens */
        width: 100%; /* Make the button full-width on smaller screens */
    }
}