.navbar-items{
    background-color: rgb(246, 249, 252);
    border: 1px solid #ccc;
}

.logout-button {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    background-color: #2d3d6a;
    margin-right: 30px;
}

.icon-class{
    margin-left: 40px;
}

.bookhive{
    /* font-family: 'Arial, sans-serif'; */
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .logout-button {
        margin: 10px 0 10px 0; /* Adjust the margin for smaller screens */
        width: 100%; /* Make the button full-width on smaller screens */
    }
}

@media (max-width: 576px){
    .icon-class{
        margin-left: 0px;
    }

    .bookhive{
        font-size: 1.3rem;
    }
}