.add-books{
    min-width: 50%;
}

.books-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 100%;
}

.books-card {
    background-color: #fff;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30vw;
    text-align: center;
    height: max-content;
}

.books-title{
    font-weight: 600;
}

.title{
    margin-bottom: 25px;
}

.one-book, .multi-book{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.2rem;
}

.content{
    margin: 0;
}

.buttoning{
    width: auto;
    margin: auto;
}

.cate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.pop-title{
    display: flex;
    justify-content: center;
}

.pop-title2{
    display: flex;
    justify-content: center;
}

.pop-csv{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
    .books-card{
        width: 52vw;
        margin-top: 30px;
    }
}

@media (max-width: 468px){
    .books-card{
        width: 90vw;
        margin-top: 30px;
    }
}