body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.book-issue {
    min-width: 50%;
}

.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 20px;
}

.issue-card {
    background-color: #fff;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50vw;
    max-width: 400px;
    text-align: center;
    margin-top: 100px;
}

.name-title {
    font-weight: 600;
}

.title {
    margin-bottom: 25px;
}

.form1-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form1-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 1rem;
    margin-top: 5px;
}

.form1-group input::placeholder {
    color: #aaa;
}

.submit-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #3b82f6;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #2563eb;
}

.btn-issue{
    margin-left: 20px;
}

@media (max-width: 768px){
    .issue-card{
        width: 80vw;
        margin-top: 30px;
    }
}

@media (max-width: 468px){
    .issue-card{
        width: 90vw;
        margin-top: 30px;
    }
}